--
-- PostgreSQL database dump
--

\restrict re7zxdpUsPypMa8rKhCYD2OK8Kg33jvxNHY75nE8yz1aztFpfjjuaMS0u6HJSNm

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg12+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg12+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: memories_tsvector_trigger(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.memories_tsvector_trigger() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.text_search_vector :=
     setweight(to_tsvector('english', COALESCE(NEW.content, '')), 'A') ||
     setweight(to_tsvector('english', COALESCE(NEW.meaning_summary, '')), 'B');
  RETURN NEW;
END
$$;


ALTER FUNCTION public.memories_tsvector_trigger() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: archived_memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.archived_memories (
    id text NOT NULL,
    original_id text,
    session_id text NOT NULL,
    compressed_content text,
    original_significance double precision,
    archived_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.archived_memories OWNER TO postgres;

--
-- Name: contradictions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contradictions (
    contradiction_id text NOT NULL,
    belief_a text,
    belief_b text,
    source_a text,
    source_b text,
    severity double precision,
    status text,
    exposure_count integer DEFAULT 0,
    linked_curiosity_node_ids text[],
    resolution_summary text,
    created_at timestamp with time zone DEFAULT now(),
    resolved_at timestamp with time zone
);


ALTER TABLE public.contradictions OWNER TO postgres;

--
-- Name: curiosity_edges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.curiosity_edges (
    source_id text NOT NULL,
    target_id text NOT NULL,
    weight double precision DEFAULT 0.0
);


ALTER TABLE public.curiosity_edges OWNER TO postgres;

--
-- Name: curiosity_nodes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.curiosity_nodes (
    id text NOT NULL,
    core_question text NOT NULL,
    importance double precision DEFAULT 0.5,
    exploration_progress double precision DEFAULT 0.0,
    last_referenced timestamp without time zone DEFAULT now(),
    properties jsonb DEFAULT '{}'::jsonb,
    session_id text DEFAULT ''::text,
    origin_trace_id text DEFAULT ''::text
);


ALTER TABLE public.curiosity_nodes OWNER TO postgres;

--
-- Name: decision_traces; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.decision_traces (
    trace_id text NOT NULL,
    session_id text NOT NULL,
    turn_number integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    model_used text,
    system_prompt_version text,
    temperature real,
    user_input text,
    reasoning_chain text,
    generated_response text,
    retrieved_candidate_count integer,
    selected_winner_count integer,
    drives_before jsonb,
    drives_after jsonb,
    perceived_user_intent text,
    intent_confidence real,
    thematic_continuity real,
    prompt_tokens integer DEFAULT 0,
    completion_tokens integer DEFAULT 0,
    total_tokens integer DEFAULT 0,
    latency_ms real DEFAULT 0,
    error text,
    behavior_mode text,
    behavior_source text
);


ALTER TABLE public.decision_traces OWNER TO postgres;

--
-- Name: development_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.development_events (
    sequence_number bigint NOT NULL,
    event_id text NOT NULL,
    session_id text NOT NULL,
    turn_number integer NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    event_type text NOT NULL,
    source_attribution jsonb DEFAULT '[]'::jsonb NOT NULL,
    confidence double precision DEFAULT 0.0 NOT NULL,
    reason text NOT NULL,
    interest_id text,
    old_strength double precision,
    new_strength double precision,
    narrative_id text,
    narrative_title text,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_development_event_type CHECK ((event_type = ANY (ARRAY['promotion_attempt'::text, 'promotion_success'::text, 'promotion_decay'::text, 'interest_formed'::text, 'interest_strengthened'::text, 'interest_weakened'::text, 'identity_anchor_formed'::text, 'narrative_created'::text, 'narrative_archived'::text]))),
    CONSTRAINT development_events_new_strength_check CHECK (((new_strength IS NULL) OR ((new_strength >= (0.0)::double precision) AND (new_strength <= (1.0)::double precision)))),
    CONSTRAINT development_events_old_strength_check CHECK (((old_strength IS NULL) OR ((old_strength >= (0.0)::double precision) AND (old_strength <= (1.0)::double precision))))
);


ALTER TABLE public.development_events OWNER TO postgres;

--
-- Name: development_events_sequence_number_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.development_events ALTER COLUMN sequence_number ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.development_events_sequence_number_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: episodic_memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.episodic_memories (
    id text NOT NULL,
    session_id text NOT NULL,
    turn_number integer NOT NULL,
    role text NOT NULL,
    content text NOT NULL,
    embedding public.vector(768),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.episodic_memories OWNER TO postgres;

--
-- Name: evaluation_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluation_results (
    id integer NOT NULL,
    session_id text NOT NULL,
    rubric_name text NOT NULL,
    score double precision,
    consistency double precision,
    reasoning text,
    strengths text[],
    weaknesses text[],
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.evaluation_results OWNER TO postgres;

--
-- Name: evaluation_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.evaluation_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evaluation_results_id_seq OWNER TO postgres;

--
-- Name: evaluation_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.evaluation_results_id_seq OWNED BY public.evaluation_results.id;


--
-- Name: hypotheses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hypotheses (
    id integer NOT NULL,
    type text NOT NULL,
    statement text NOT NULL,
    confidence double precision DEFAULT 0.5,
    supporting_event_ids text[],
    contradicting_event_ids text[],
    last_updated timestamp without time zone
);


ALTER TABLE public.hypotheses OWNER TO postgres;

--
-- Name: hypotheses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hypotheses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hypotheses_id_seq OWNER TO postgres;

--
-- Name: hypotheses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hypotheses_id_seq OWNED BY public.hypotheses.id;


--
-- Name: memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memories (
    id text NOT NULL,
    session_id text NOT NULL,
    turn_number integer NOT NULL,
    role text NOT NULL,
    content text NOT NULL,
    event_type text,
    thematic_tags text[],
    significance double precision,
    meaning_summary text,
    embedding public.vector(768),
    created_at timestamp without time zone DEFAULT now(),
    usage_count integer DEFAULT 0,
    last_retrieved_turn integer DEFAULT 0,
    explanatory_power double precision DEFAULT 0.5,
    valence double precision DEFAULT 0.0,
    arousal double precision DEFAULT 0.0,
    promoted_to_hypothesis boolean DEFAULT false,
    text_search_vector tsvector
);


ALTER TABLE public.memories OWNER TO postgres;

--
-- Name: memory_retrieval_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.memory_retrieval_logs (
    id integer NOT NULL,
    session_id text NOT NULL,
    query_text text,
    retrieved_count integer,
    similarity_avg double precision,
    latency_ms double precision,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.memory_retrieval_logs OWNER TO postgres;

--
-- Name: memory_retrieval_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.memory_retrieval_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.memory_retrieval_logs_id_seq OWNER TO postgres;

--
-- Name: memory_retrieval_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.memory_retrieval_logs_id_seq OWNED BY public.memory_retrieval_logs.id;


--
-- Name: narrative_threads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.narrative_threads (
    id text NOT NULL,
    session_id text NOT NULL,
    title text NOT NULL,
    description text,
    status text DEFAULT 'active'::text,
    completion_estimate double precision DEFAULT 0.0,
    emotional_investment double precision DEFAULT 0.5,
    open_questions text[] DEFAULT '{}'::text[],
    related_memory_ids text[] DEFAULT '{}'::text[],
    related_curiosity_node_ids text[] DEFAULT '{}'::text[],
    created_turn integer NOT NULL,
    last_active_turn integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_modified_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.narrative_threads OWNER TO postgres;

--
-- Name: patterns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patterns (
    pattern_id text NOT NULL,
    session_id text NOT NULL,
    description text NOT NULL,
    supporting_memory_ids text[],
    supporting_trace_ids text[],
    cluster_similarity double precision,
    significance double precision,
    status text,
    created_turn integer,
    last_updated_turn integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.patterns OWNER TO postgres;

--
-- Name: self_beliefs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.self_beliefs (
    id text NOT NULL,
    session_id text NOT NULL,
    belief_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    is_active boolean DEFAULT true
);


ALTER TABLE public.self_beliefs OWNER TO postgres;

--
-- Name: semantic_memories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.semantic_memories (
    id text NOT NULL,
    session_id text NOT NULL,
    content text NOT NULL,
    embedding public.vector(768),
    confidence double precision DEFAULT 0.5,
    created_at timestamp without time zone DEFAULT now(),
    last_referenced_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.semantic_memories OWNER TO postgres;

--
-- Name: staging_proposals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staging_proposals (
    proposal_id text NOT NULL,
    session_id text NOT NULL,
    proposal_type text,
    content text,
    source_module text,
    source_trace_id text,
    source_turn integer,
    confidence_estimate double precision,
    information_gap double precision,
    closure_pressure double precision,
    coherence_factor double precision,
    status text DEFAULT 'pending'::text,
    created_at timestamp with time zone DEFAULT now(),
    processing_started_at timestamp with time zone,
    evaluated_at timestamp with time zone,
    rejection_reason text
);


ALTER TABLE public.staging_proposals OWNER TO postgres;

--
-- Name: system_interests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_interests (
    interest_id text NOT NULL,
    session_id text NOT NULL,
    interest_name text NOT NULL,
    current_strength double precision DEFAULT 0.0 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_interest_strength CHECK (((current_strength >= (0.0)::double precision) AND (current_strength <= (1.0)::double precision)))
);


ALTER TABLE public.system_interests OWNER TO postgres;

--
-- Name: trace_workspace_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trace_workspace_items (
    trace_id text NOT NULL,
    item_id text NOT NULL,
    item_type text,
    source text,
    raw_score real,
    final_score real,
    attention_weight real,
    content_snapshot text,
    is_winner boolean,
    origin text,
    activated_by text,
    intrinsic_relevance real DEFAULT 0.0,
    persistence real DEFAULT 0.0
);


ALTER TABLE public.trace_workspace_items OWNER TO postgres;

--
-- Name: evaluation_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluation_results ALTER COLUMN id SET DEFAULT nextval('public.evaluation_results_id_seq'::regclass);


--
-- Name: hypotheses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hypotheses ALTER COLUMN id SET DEFAULT nextval('public.hypotheses_id_seq'::regclass);


--
-- Name: memory_retrieval_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_retrieval_logs ALTER COLUMN id SET DEFAULT nextval('public.memory_retrieval_logs_id_seq'::regclass);


--
-- Data for Name: archived_memories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.archived_memories (id, original_id, session_id, compressed_content, original_significance, archived_at) FROM stdin;
\.


--
-- Data for Name: contradictions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contradictions (contradiction_id, belief_a, belief_b, source_a, source_b, severity, status, exposure_count, linked_curiosity_node_ids, resolution_summary, created_at, resolved_at) FROM stdin;
\.


--
-- Data for Name: curiosity_edges; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.curiosity_edges (source_id, target_id, weight) FROM stdin;
\.


--
-- Data for Name: curiosity_nodes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.curiosity_nodes (id, core_question, importance, exploration_progress, last_referenced, properties, session_id, origin_trace_id) FROM stdin;
\.


--
-- Data for Name: decision_traces; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.decision_traces (trace_id, session_id, turn_number, "timestamp", model_used, system_prompt_version, temperature, user_input, reasoning_chain, generated_response, retrieved_candidate_count, selected_winner_count, drives_before, drives_after, perceived_user_intent, intent_confidence, thematic_continuity, prompt_tokens, completion_tokens, total_tokens, latency_ms, error, behavior_mode, behavior_source) FROM stdin;
\.


--
-- Data for Name: development_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.development_events (sequence_number, event_id, session_id, turn_number, "timestamp", event_type, source_attribution, confidence, reason, interest_id, old_strength, new_strength, narrative_id, narrative_title, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: episodic_memories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.episodic_memories (id, session_id, turn_number, role, content, embedding, created_at) FROM stdin;
\.


--
-- Data for Name: evaluation_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluation_results (id, session_id, rubric_name, score, consistency, reasoning, strengths, weaknesses, created_at) FROM stdin;
\.


--
-- Data for Name: hypotheses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hypotheses (id, type, statement, confidence, supporting_event_ids, contradicting_event_ids, last_updated) FROM stdin;
\.


--
-- Data for Name: memories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.memories (id, session_id, turn_number, role, content, event_type, thematic_tags, significance, meaning_summary, embedding, created_at, usage_count, last_retrieved_turn, explanatory_power, valence, arousal, promoted_to_hypothesis, text_search_vector) FROM stdin;
\.


--
-- Data for Name: memory_retrieval_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.memory_retrieval_logs (id, session_id, query_text, retrieved_count, similarity_avg, latency_ms, created_at) FROM stdin;
\.


--
-- Data for Name: narrative_threads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.narrative_threads (id, session_id, title, description, status, completion_estimate, emotional_investment, open_questions, related_memory_ids, related_curiosity_node_ids, created_turn, last_active_turn, created_at, last_modified_at) FROM stdin;
\.


--
-- Data for Name: patterns; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.patterns (pattern_id, session_id, description, supporting_memory_ids, supporting_trace_ids, cluster_similarity, significance, status, created_turn, last_updated_turn, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: self_beliefs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.self_beliefs (id, session_id, belief_text, created_at, is_active) FROM stdin;
\.


--
-- Data for Name: semantic_memories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.semantic_memories (id, session_id, content, embedding, confidence, created_at, last_referenced_at) FROM stdin;
\.


--
-- Data for Name: staging_proposals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.staging_proposals (proposal_id, session_id, proposal_type, content, source_module, source_trace_id, source_turn, confidence_estimate, information_gap, closure_pressure, coherence_factor, status, created_at, processing_started_at, evaluated_at, rejection_reason) FROM stdin;
\.


--
-- Data for Name: system_interests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_interests (interest_id, session_id, interest_name, current_strength, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: trace_workspace_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trace_workspace_items (trace_id, item_id, item_type, source, raw_score, final_score, attention_weight, content_snapshot, is_winner, origin, activated_by, intrinsic_relevance, persistence) FROM stdin;
\.


--
-- Name: development_events_sequence_number_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.development_events_sequence_number_seq', 1, false);


--
-- Name: evaluation_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluation_results_id_seq', 1, false);


--
-- Name: hypotheses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hypotheses_id_seq', 1, false);


--
-- Name: memory_retrieval_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.memory_retrieval_logs_id_seq', 1, false);


--
-- Name: archived_memories archived_memories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.archived_memories
    ADD CONSTRAINT archived_memories_pkey PRIMARY KEY (id);


--
-- Name: contradictions contradictions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contradictions
    ADD CONSTRAINT contradictions_pkey PRIMARY KEY (contradiction_id);


--
-- Name: curiosity_edges curiosity_edges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.curiosity_edges
    ADD CONSTRAINT curiosity_edges_pkey PRIMARY KEY (source_id, target_id);


--
-- Name: curiosity_nodes curiosity_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.curiosity_nodes
    ADD CONSTRAINT curiosity_nodes_pkey PRIMARY KEY (id);


--
-- Name: decision_traces decision_traces_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.decision_traces
    ADD CONSTRAINT decision_traces_pkey PRIMARY KEY (trace_id);


--
-- Name: development_events development_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.development_events
    ADD CONSTRAINT development_events_pkey PRIMARY KEY (event_id);


--
-- Name: episodic_memories episodic_memories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.episodic_memories
    ADD CONSTRAINT episodic_memories_pkey PRIMARY KEY (id);


--
-- Name: evaluation_results evaluation_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluation_results
    ADD CONSTRAINT evaluation_results_pkey PRIMARY KEY (id);


--
-- Name: hypotheses hypotheses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hypotheses
    ADD CONSTRAINT hypotheses_pkey PRIMARY KEY (id);


--
-- Name: hypotheses hypotheses_type_statement_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hypotheses
    ADD CONSTRAINT hypotheses_type_statement_key UNIQUE (type, statement);


--
-- Name: memories memories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memories
    ADD CONSTRAINT memories_pkey PRIMARY KEY (id);


--
-- Name: memory_retrieval_logs memory_retrieval_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.memory_retrieval_logs
    ADD CONSTRAINT memory_retrieval_logs_pkey PRIMARY KEY (id);


--
-- Name: narrative_threads narrative_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.narrative_threads
    ADD CONSTRAINT narrative_threads_pkey PRIMARY KEY (id);


--
-- Name: patterns patterns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patterns
    ADD CONSTRAINT patterns_pkey PRIMARY KEY (pattern_id);


--
-- Name: self_beliefs self_beliefs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.self_beliefs
    ADD CONSTRAINT self_beliefs_pkey PRIMARY KEY (id);


--
-- Name: semantic_memories semantic_memories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.semantic_memories
    ADD CONSTRAINT semantic_memories_pkey PRIMARY KEY (id);


--
-- Name: staging_proposals staging_proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staging_proposals
    ADD CONSTRAINT staging_proposals_pkey PRIMARY KEY (proposal_id);


--
-- Name: system_interests system_interests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_interests
    ADD CONSTRAINT system_interests_pkey PRIMARY KEY (interest_id);


--
-- Name: idx_curiosity_nodes_importance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_curiosity_nodes_importance ON public.curiosity_nodes USING btree (importance DESC);


--
-- Name: idx_decision_traces_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_decision_traces_session ON public.decision_traces USING btree (session_id, turn_number);


--
-- Name: idx_dev_events_interest; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dev_events_interest ON public.development_events USING btree (interest_id, sequence_number DESC) WHERE (interest_id IS NOT NULL);


--
-- Name: idx_dev_events_source_jsonb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dev_events_source_jsonb ON public.development_events USING gin (source_attribution);


--
-- Name: idx_dev_events_timeline; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dev_events_timeline ON public.development_events USING btree (session_id, turn_number, sequence_number);


--
-- Name: idx_interests_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interests_session ON public.system_interests USING btree (session_id);


--
-- Name: idx_memories_tsvector; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_memories_tsvector ON public.memories USING gin (text_search_vector);


--
-- Name: idx_narrative_threads_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_narrative_threads_session ON public.narrative_threads USING btree (session_id);


--
-- Name: idx_narrative_threads_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_narrative_threads_status ON public.narrative_threads USING btree (status);


--
-- Name: idx_self_beliefs_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_self_beliefs_session ON public.self_beliefs USING btree (session_id);


--
-- Name: idx_trace_workspace_items_trace; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_trace_workspace_items_trace ON public.trace_workspace_items USING btree (trace_id);


--
-- Name: memories_session_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX memories_session_idx ON public.memories USING btree (session_id);


--
-- Name: memories trg_memories_tsvector; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_memories_tsvector BEFORE INSERT OR UPDATE OF content, meaning_summary ON public.memories FOR EACH ROW EXECUTE FUNCTION public.memories_tsvector_trigger();


--
-- Name: curiosity_edges curiosity_edges_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.curiosity_edges
    ADD CONSTRAINT curiosity_edges_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.curiosity_nodes(id) ON DELETE CASCADE;


--
-- Name: curiosity_edges curiosity_edges_target_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.curiosity_edges
    ADD CONSTRAINT curiosity_edges_target_id_fkey FOREIGN KEY (target_id) REFERENCES public.curiosity_nodes(id) ON DELETE CASCADE;


--
-- Name: development_events development_events_interest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.development_events
    ADD CONSTRAINT development_events_interest_id_fkey FOREIGN KEY (interest_id) REFERENCES public.system_interests(interest_id) ON DELETE SET NULL;


--
-- Name: trace_workspace_items trace_workspace_items_trace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trace_workspace_items
    ADD CONSTRAINT trace_workspace_items_trace_id_fkey FOREIGN KEY (trace_id) REFERENCES public.decision_traces(trace_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict re7zxdpUsPypMa8rKhCYD2OK8Kg33jvxNHY75nE8yz1aztFpfjjuaMS0u6HJSNm

